<div class="pull-right">
  <%= link_to("增加职位", new_job_path(@job), class: :"btn btn-primary btn-sm") %>
</div>

<table class="table table-boldered">
  <thead>
    <tr>
      <th>职位</th>
      <th>管理选项</th>
      <th>发布时间</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job)) %></td>
        <td>
          <%= link_to("编缉", edit_job_path(job), :class => "btn btn-success btn-xs") %>
          <%= link_to("删除", job_path(job), method: :delete, :class => "btn btn-danger btn-xs") %>
        </td>
        <td><%= job.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
